.card{
    width: 221px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 15px;
}

.card img{
    max-width: 200px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.card label{
    max-width: 221px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}